.overLayStyle {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.secrets-form {
  position: fixed;
  top: 14.25rem;
  left: 30.75rem;
  height: 23.5rem;
  width: 43.5rem;
  z-index: 1000;
  background-color: #2a2e3e;
  padding: 3.438rem 3.75rem 3.75rem 3.75rem;
}
.secrets-form__heading {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.inputSecretName {
  margin-top: 1rem;
  width: 100%;
  height: 3.125rem;
  resize: none;
  outline: none;
  padding: 1rem;
}
.input-help {
  margin-top: 1rem;
  color: #8b8ea6;
  font-size: 0.8rem;
}
.secrets-form__button-group {
  margin-left: 21rem;
  margin-top: 2rem;
}
