.safe {
  display: grid;
  grid-template: auto / 40% 60%;
  height: 100%;
}
.all_safes {
  background: #151820;
  position: relative;
}
.all-safes_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0.625rem 0.625rem 1.688rem;
  border-bottom: solid 0.1rem #2a2e3e;
  height: 3.688rem;
}
h2.all-safes__heading {
  font-size: 1.188rem;
  font-weight: bold;
}
.all_safe_search {
  width: 19.313rem;
  background: #20232e;
  height: 2.75rem;
}
input.all_safe_search_input {
  height: 100%;
  width: 100%;
  background: #20232e;
  border: 0;
  caret-color: #5e627c;
  color: #5e627c;
  outline: none;
  padding: 1rem;
  font-size: 0.8rem;
}
.all_safes_container {
  width: 100%;
  height: calc(100% - 3.688rem);
}
.safesCount {
  font-weight: normal;
  color: #5e627c;
}

.safes_empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.safesList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100% - 4rem);
  height: 0;
  overflow-y: auto;
  position: relative;
}
.safeImage {
  height: 16.25rem;
  width: 13.875;
  background-image: url(../icons/Group.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  position: relative;
  flex-direction: column;
  padding: 1rem;
}
.safeImage > span {
  font-size: 0.875rem;
}
img.safeAddButton {
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}

.card {
  display: flex;
  height: 4.75rem;
  align-items: center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  border-bottom: solid 0.1rem #20232e;
}
.loadingGif {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.cardLogo {
  width: 2.125rem;
  height: 2.5rem;
  margin-left: 1rem;
}
.cardInfo {
  margin-left: 0.938rem;
}
.cardInfoTime {
  margin-top: 0.6rem;
}
.cardActions {
  margin-left: auto;
  margin-right: 1.5rem;
}

.cardIconContainer {
  width: 2.2rem;
  height: 2.2rem;
  margin-left: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.cardIconContainer:hover {
  background: rgba(90, 99, 122, 0.2);
}
img.cardIcon {
  width: 1rem;
  height: 1rem;
}
.safeAddButtonSafeList {
  padding: 0 1rem 1rem 0;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.selected {
  background: linear-gradient(to right, #72134b, #1d212c);
}

/* CSS for about-safe container  */

.safe_banner {
  width: 100%;
  height: 11.938rem;
  background-image: url(../icons/Banner_img.png);
  background-size: 100% 100%;
  margin-top: -0.5rem;
  margin-bottom: -0.6rem;
  position: relative;
}
.bannerText {
  position: absolute;
  top: 4rem;
  left: 16.2rem;
  right: 4.5rem;
}
.safeNameBanner {
  font-size: 2rem;
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.secrets {
  background: linear-gradient(to bottom, #151820, #2c3040);
  height: calc(100% - 10.8rem);
  padding: 0 1.313rem;
}
.secrets_header {
  height: 4.438rem;
  border-bottom: solid 0.3rem #222632;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.secretsList {
  overflow: hidden;
  min-height: calc(100% - 7rem);
  height: 0;
  overflow-y: auto;
}
.secrets_permissions_nav {
  width: auto;
  display: flex;
  height: 100%;
}

.secrets_nav_item > a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.938rem;
  padding: 0rem 0.625rem;
  color: #5e627c;
  text-decoration: none;
  font-size: 1rem;
}
.secrets_nav_item {
  border-bottom: solid 0.3rem #e20074;
  margin-bottom: -0.3rem;
}
.secrets_nav_item > a {
  color: #fff;
}
.header_newfolder_container {
  width: 6.938rem;
  height: 1.5rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
img.add_folder_icon {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}
.folderIcon {
  height: 2.5rem;
  width: 3rem;
}
.secretInfoContainer {
  display: flex;
  align-items: center;
}
.secretInfo {
  margin-left: 1rem;
}
.secretAction {
  margin-left: auto;
  width: 2rem;
  height: 2rem;
  border-radius: 17px;
  padding: 0.4rem;
}
.cardContainer {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 1rem;
  cursor: pointer;
  border-bottom: 0.1rem solid rgba(42, 46, 62, 0.5);
}
.secretsCount {
  width: 100%;
  height: 2rem;
  padding-top: 0.6rem;
  font-weight: normal;
  color: #5e627c;
}
.secrets_image {
  width: 13.75rem;
  height: 13.75rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.secrets_empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secrets_caption {
  margin-bottom: 1rem;
}
.secretDeleteIcon {
  height: 1.3rem;
}
.cardInfoName {
  text-overflow: ellipsis;
  width: 12rem;
  overflow: hidden;
}
.disabledButtonCreateSafe {
  background: #454c5e;
  margin-left: 0.625rem;
  width: 6.875rem;
  height: 2.25rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  color: #fff;
}
.cardContainer:hover {
  background: linear-gradient(to right, #72134b, #1d212c);
}

@media screen and (max-width: 911px) {
  section.maincontainer {
    padding: 1.375rem 1.875rem;
  }
  .about_safes {
    display: none;
  }
  .safe {
    display: flex;

    height: 100%;
  }
  .all_safes {
    width: 100%;
  }
  .nav_end {
    display: none;
  }
  .nav_list {
    display: none;
  }
  .nav_bar {
    padding: 0 1.875rem;
  }
  h2.all-safes__heading {
    font-size: 0.8rem;
  }
  .all-safes_header {
    height: 2.688rem;
  }

  img.safeAddButton {
    height: 3rem;
    width: 3rem;
  }
  .all_safe_search {
    height: 1.8rem;
  }
  .safeImage > span {
    font-size: 0.575rem;
  }
}
@media screen and (max-width: 1518px) {
  .nav_end {
    display: none;
  }
}
@media screen and (max-width: 5465px) and (min-width: 2040px) {
  html {
    font-size: 54px;
  }
}
@media screen and (max-width: 4099px) and (min-width: 2040px) {
  html {
    font-size: 41px;
  }
}
@media screen and (max-width: 2733px) and (min-width: 2049px) {
  html {
    font-size: 27px;
  }
}
@media screen and (max-width: 2049px) and (min-width: 1822px) {
  html {
    font-size: 20px;
  }
}
@media screen and (max-width: 1561px) and (min-width: 1242px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 1241px) and (min-width: 1092px) {
  html {
    font-size: 11px;
  }
}
@media screen and (max-width: 1095px) {
  .nav_list {
    display: none;
  }
}
@media screen and (max-width: 1367px) and (min-width: 1242px) {
  html {
    font-size: 13.8px;
  }
}
@media screen and (max-width: 1242px) and (min-width: 1093px) {
  html {
    font-size: 12px;
  }
}
